html {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

li {
  cursor: pointer;
}

.container {
  background-color: rgb(137, 54, 54);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grey {
  color: grey;
}
